@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tabela{
    width: 100%;
    border-collapse: collapse;
    font-family: 'poppins', sans-serif;
}
.tabela th, .tabela td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.tabela th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabela tr:nth-child(even) {
    background-color: #f9f9f9;
}


.tabela .btn {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 4px;
}


.tabela .btn.alterar {
    background-color: #4CAF50;
    color: white;
}


.tabela .btn.excluir {
    background-color: #f44336;
    color: white;
}


.tabela .btn:hover {
    opacity: 0.8;
}
